<%- include("partials/header") -%>

<div class="post-container compose-container">

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">

  <label for="text">Title</label>
  <input class="form-control" type="text" name="textTitle" value="" required>
  <label for="postText">Post</label>
  <textarea id="summernote" name="content" class="form-control" rows="5" cols="30" required></textarea>
  <button class="btn btn-form" style="background-color: #f37121;color: white;" type="submit" name="button">Publish</button>
</div>

</form>
</div>


<%- include("partials/footer") -%>
