<%- include("partials/header") -%>

<div class="container">

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">

  <label for="text">Title</label>
  <input class="form-control" type="text" name="textTitle" value="">
  <label for="text">Time</label>
  <input class="form-control" type="text" name="postDay" value="">
  <label for="postText">Post</label>
  <textarea class="form-control" name="postText" rows="5" cols="30"></textarea>
  <button class="btn btn-outline-dark btn-form" type="submit" name="button">Publish</button>
</div>

</form>
</div>


<%- include("partials/footer") -%>
